# Week 4 Pandas Practice

Full credit to [GitHub user guipsamora](https://github.com/guipsamora), who put together these pandas exercises. You can find these two exercises that I combined, plus many more, [at the pandas exercises repo here](https://github.com/guipsamora/pandas_exercises).

This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

## Part 1 - Getting and Knowing Your Data

### Import the necessary libraries

In [1]:
import pandas as pd

### Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 

Note that this is a `.tsv` file, and you will need to pass the argument `sep='\t'` to your `read_csv` function.

### Assign it to a variable called chipo.

In [3]:
path = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(path, sep='\t')

### See the first 10 entries

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### What is the number of observations in the dataset?

In [72]:
# Solution 1

df.shape[0]

4622

In [73]:
# Solution 2

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   items               3376 non-null   object
dtypes: int64(2), object(4)
memory usage: 216.8+ KB

### What is the number of columns in the dataset?

In [10]:
len(df.columns)

5

### Print the name of all the columns.

In [13]:
print(list(df.columns))

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### How is the dataset indexed?

In [14]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Which was the most-ordered item?

In [83]:
df.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### For the most-ordered item, how many items were ordered?

In [113]:
df.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### What was the most ordered item in the choice_description column?

In [117]:
df.groupby('choice_description').sum().sort_values(['quantity'], ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### How many items were orderd in total?

In [118]:
df.groupby('choice_description').sum().sort_values(['quantity'], ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Turn the item price into a float

#### Check the item price type

In [124]:
df.item_price.dtype

dtype('O')

#### Create a lambda function and change the type of item price

In [128]:
df.item_price = df.item_price.apply(lambda x: float(x[1:-1]))

#### Check the item price type

In [129]:
df.item_price.dtype

dtype('float64')

### How much was the revenue for the period in the dataset?

In [140]:
df['total'] = df['item_price']*df['quantity']
df.total.sum()

39237.02

### How many orders were made in the period?

In [154]:
len(df.order_id.value_counts())

1834

### What is the average revenue amount per order?

In [173]:
# Solution 1
df.groupby('order_id').sum().mean()['total']

21.394231188658654

In [4]:
# Solution 2

### How many different items are sold?

In [182]:
df.item_name.nunique()

50

## Part 2 - Filtering and Sorting

### How many products cost more than $10.00?

### What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Sort by the name of the item

### What was the quantity of the most expensive item ordered?

### How many times was a Veggie Salad Bowl ordered?

### How many times did someone order more than one Canned Soda?